/* FONTS */

@font-face {
    font-family: 'Adobe Myungjo Std';
    src: url('/fonts/Adobe Myungjo Std M.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Pumpkin Cheesecake';
    src: url('/fonts/PumpkinCheesecake.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'LadylikeBB';
    src: url('/fonts/LadylikeBB.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'ONCEINAWHILE';
    src: url('/fonts/ONCEINAWHILE.TTF') format('truetype'); 
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Comic Mono';
    src: url('/fonts/ComicMono.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal; 
}