:root {
  --response-color: greenyellow;
}

/*ABOUT ME*/
#qna > p{
    padding: 5px;
    text-shadow: #050a24 1px 1px, #050a24 2px 2px;
    background: repeating-linear-gradient(
            45deg,
            #b13446,
            #b13446 20px,
            #dd4733 20px,
            #dd4733 80px
    );
}

#qna > p:nth-child(4n+3) {
    background: repeating-linear-gradient(
            -45deg,
            #b13446,
            #b13446 20px,
            #dd4733 20px,
            #dd4733 80px
    );
}

#qna > h2 {
    text-align: left;
}

#sidenote {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/cork-board.png);
    padding: 1px 20px;
    text-shadow: #050a24 1px 1px, #050a24 2px 2px;
    border: 2px solid white;
    font-family: sans-serif;
    font-size: 16pt;
  }




/*MAIN*/
body {
    font-family: 'LadylikeBB', sans-serif;
    background-image: url('media/background_clouds.png');
    color: white;
    font-size: 28px;
    max-width: 1000px;
    margin: auto;

}
body > div{
    padding: 0px 15px 15px 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2{
    font-family: 'ONCEINAWHILE', sans-serif;
    text-shadow: 2px 2px black;   
    font-weight:bold;
    text-align:center;
}

h1{
    font-size:45px;
}

h2 {
    font-size: 30px;
}

.codey-text, .codey-text-response{
    font-family: 'Comic Mono', monospace;
    font-size: 20px;
    padding: 8px 8px 0px;
}

.codey-text-response{
    color: var(--response-color);
}

header, footer {
    background-image:url(media/marquee.png);
    padding: 10px 10px 10px 10px;
    text-align: center;
}

header{
    background-size: 2500px;
    margin: 25px 0px 0px 0px;
}
footer{
    background-size: 2000px;
    margin: 15px 15px 0px 15px;
}


a{
    text-decoration:none;
    color:white;
}

.logo_parent{
    white-space: nowrap;
    display: inline-block;
}


#conversation-container button, .conversationButton{
    font-family:"Pumpkin Cheesecake", sans-serif;
    font-size: 24px;
    float:left; 
    margin-right: 10px;
}




/* thank u granneman.com */
/* pull down menu */
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  float: left;
  display: block;
  background: #4B4B4B;
  position: relative;
  z-index: 500;
  margin: 0 1px;
}

.nav li a, .nav li div {
  display: block;
  padding: 6px 20px;
  font-weight: 700; /*bold*/
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.nav ul {
  position: absolute;
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
}

.nav ul li {
  float: left;
  border-top: 1px solid #fff;
  width: 100%;
  white-space: nowrap;
}

.nav ul a, .nav ul div {
  display: block;
  font-weight: 400; /*normal*/
  padding:  6px 10px;
  color: #fff;
  text-align: left;
}

.nav a, .nav div{
    text-align: center;
    background-image: repeating-linear-gradient(#050543, black);
    border: 1.5px solid white;
}

.nav a:hover {
    background-image: repeating-linear-gradient(#7842f5, black);
    font-weight: bold;
}




/* POPUP */

.cookie-banner {
    position: fixed;
    bottom: 2vw;
    left: 20vw;
    width: 60vw;
    padding: 5px 5px;
    background-color: #eee;
    border-radius: 5px;
    color: black;
    text-align: center;
    align-items: center;
    z-index: 1000;
}

a.cookie-link{
    color:blue;
    font-weight:bold;
}

.close {
    height: 25px;
    width: 25px;
    background-color: #777;
    color: white;
    border-radius: 2px;
}