body {
    font-family: 'LadylikeBB', sans-serif;
    background-image: url('/media/background_clouds.png');
    color: white;
    font-size: 28px;
}

body > div{
    padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2{
    font-family: 'ONCEINAWHILE', sans-serif;
    text-shadow: 2px 2px black;   
    font-weight:bold;
    text-align:center;
}

h1{
    font-size:45px;
}

h2 {
    font-size: 30px;
}

.codey-text, .codey-text-response{
    font-family: 'Comic Mono', monospace;
    background-color:black;
    font-size: 20px;
    padding: 8px 8px 2px;
}

.codey-text-response{
    color: greenyellow;
}

header, footer {
    background-image:url(media/marquee.png);
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

header{ background-size: 2500px; }
footer{ background-size: 2000px; }


a{
    text-decoration:none;
    color:white;
}




#conversation-container button{
    font-family:"Pumpkin Cheesecake", sans-serif;
    font-size: 24px;
    float:left; 
    margin-right: 4px;
}




/* thank u granneman.com */
/* pull down menu */
#nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  float: left;
  display: block;
  background: #4B4B4B;
  position: relative;
  z-index: 500;
  margin: 0 1px;
}

#nav li a {
  display: block;
  padding: 6px 5px 0 5px;
  font-weight: 700;
  height: 35px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#nav ul {
  position: absolute;
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
}

#nav ul li {
  float: left;
  border-top: 1px solid #fff;
  width: 100%;
  white-space: nowrap;
}

#nav ul a {
  display: block;
  height: 35px;
  padding:  6px 5px;
  color: #fff;
  text-align: left;
}

#nav a{
    text-align: center;
    background-image: repeating-linear-gradient(#050543, black);
    border: 1.5px solid white;
}

#nav a:hover {
    background-image: repeating-linear-gradient(#7842f5, black);
    font-weight: bold;
}



/* POPUP */

.cookie-banner {
    position: fixed;
    bottom: 2vw;
    left: 20vw;
    width: 60vw;
    padding: 5px 5px;
    background-color: #eee;
    border-radius: 5px;
    color: black;
    text-align: center;
    align-items: center;
}

a.cookie-link{
    color:blue;
    font-weight:bold;
}

.close {
    height: 25px;
    width: 25px;
    background-color: #777;
    color: white;
    border-radius: 2px;
}