:root {
  --response-color: greenyellow;
}

.codey-text, .codey-text-response{
    font-family: 'Comic Mono', monospace;
    font-size: 20px;
    padding: 8px 8px 0px;
}

.codey-text-response{
    color: var(--response-color);
}

#conversation-container button, .conversationButton{
    font-family:"Pumpkin Cheesecake", sans-serif;
    font-size: 24px;
    float:left; 
    margin-right: 10px;
}


/* POPUP */

.cookie-banner {
    position: fixed;
    bottom: 2vw;
    left: 20vw;
    width: 60vw;
    padding: 5px 5px;
    background-color: #eee;
    border-radius: 5px;
    color: black;
    text-align: center;
    align-items: center;
    z-index: 1000;
}

a.cookie-link{
    color:blue;
    font-weight:bold;
}

.close {
    height: 25px;
    width: 25px;
    background-color: #777;
    color: white;
    border-radius: 2px;
}