#qna > p{
    padding: 5px;
    text-shadow: #050a24 1px 1px, #050a24 2px 2px;
    background: repeating-linear-gradient(
            45deg,
            #b13446,
            #b13446 20px,
            #dd4733 20px,
            #dd4733 80px
    );
}

#qna > p:nth-child(4n+3) {
    background: repeating-linear-gradient(
            -45deg,
            #b13446,
            #b13446 20px,
            #dd4733 20px,
            #dd4733 80px
    );
}

#qna > h2 {
    text-align: left;
}

#sidenote {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/cork-board.png);
    padding: 1px 20px;
    text-shadow: #050a24 1px 1px, #050a24 2px 2px;
    border: 2px solid white;
    font-family: sans-serif;
    font-size: 16pt;
  }