@font-face{
	font-family: LexendDeca;
	src: url(https://fonts.gstatic.com/s/lexenddeca/v15/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnD.woff2) format('woff2');
}

html, body {
	background-color:rgb(24, 26, 27) !important;
	color:rgb(244, 244, 255) !important;

	font-family: LexendDeca, sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-size: 20px;


	max-width:600px;
	align-content: center;
	margin: auto
}

header{
	width:100%;
	align-content: center;
	margin-bottom: 32px;
}

h1{
	background:black;
	font-size:40px;
	text-align:center;

	font-weight: 600;
	padding: 16px;
}

button {
	font-family: LexendDeca, sans-serif;
	font-size:20px;

}

.copyright{
	font-size:16px;!important;
}

.copyright > a{
	color:rgb(37, 150, 190) !important;

}

#info > p,
#info > button {
	text-align:center;
	
	margin-bottom: 16px;
	margin-right: 32px;
	margin-left: 32px;
}

#info > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	max-width:600px;
}

rect:hover{
	filter: invert(40%);
}

rect:active{
	filter: invert(60%);
}

.roundedCorner {
	border-radius: 25px;
	background: #28292a;
	padding: 20px 10px;
	color:rgb(244, 244, 255) !important;
	text-align:center;
}

#guesses, #buttons, #piano {
	display: flex;
	justify-content: center;
}

.gridCol {
	width: 360px;
	height: 360px;

	display: grid;
	grid-template-columns: 62px 62px 62px 62px 62px;
	grid-template-rows:    62px 62px 62px 62px 62px;

	grid-gap: 10px;
	color: #444;

	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;

	justify-content: center;
}

#buttons > button {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;
}



/* POPUP */

.cookie-banner {
	position: fixed;
	bottom: 2vw;
	left: 20vw;
	width: 60vw;
	padding: 5px 5px;
	background-color: #eee;
	border-radius: 5px;
	color: black;
	text-align: center;
	align-items: center;
	z-index: 1000;
}

.close {
	height: 25px;
	width: 25px;
	background-color: #777;
	color: white;
	border-radius: 2px;
}

