html, body {
	background-color:rgb(24, 26, 27) !important;
	color:rgb(244, 244, 255) !important;

	font-family: Lexend Deca, sans-serif;
	font-weight: 200;
	font-size: 20px;

	max-width:600px;
	align-content: center;
	margin: auto;
}

a {
	color: gray;
}

header{
	width:100%;
	align-content: center;
	margin-bottom: 32px;
	background:black;
	min-height: 50px;
}

body{
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

footer{
	min-height: 50px;	
	text-align: center;
	align-content: center;
	padding-bottom: 20px;
}

#header-buttons{
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

h1{
	font-size:40px;
	text-align:center;

	font-weight: 600;
	padding: 16px;
}

button {
	font-family: Lexend Deca, sans-serif;
	font-size:20px;
	background-color: rgb(244, 244, 255);
	color: #28292a;
	border: none;
	border-radius: 6px;
	padding: 6px;
	min-width: 35px;
}

.popup{
	visibility: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	background-color: rgb(24, 26, 27);
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	padding: 5px 5px 0px 5px;
}

.alert > img{
	height:150px;
	width:auto;
	margin: auto;
	display: block;
}


#info > p,
#info > button,
.alert > p {
	text-align:center;
	
	margin-bottom: 16px;
	margin-right: 32px;
	margin-left: 32px;
}

#info > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	max-width:600px;
}

rect:hover{
	filter: invert(40%);
}

rect:active{
	filter: invert(60%);
}

.roundedCorner {
	border-radius: 25px;
	background: #28292a;
	padding: 20px 10px;
	color:rgb(244, 244, 255) !important;
	text-align:center;
}

#guesses, #buttons {
	display: flex;
	justify-content: center;
}

#piano{
	width: 100%;
	height: auto;
	max-width: 900px; /* optional */
}

.gridCol {
	width: 360px;
	height: 360px;

	display: grid;
	grid-template-columns: 62px 62px 62px 62px 62px;
	grid-template-rows:    62px 62px 62px 62px 62px;

	grid-gap: 10px;
	color: #444;

	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;

	justify-content: center;
}

.answerGrid{
	width: 600px;
	height: 70px;

	display: grid;
	grid-template-columns: 62px 62px 62px 62px 62px;
	grid-template-rows:    62px 62px 62px 62px 62px;

	grid-gap: 10px;
	color: #444;

	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;

	justify-content: center;
}

#buttons > button {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;
}


